flows.json
[
    {
        "id": "1f411be02ab63862",
        "type": "tab",
        "label": "Z-Wave Back End",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "800b06c9c0e3dff7",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "exchange messages with the z-wave controller",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "807b59493c63c6b5",
            "8f73c98ea2fb6019",
            "c464961f4d24a38b",
            "c629c0f061d79636",
            "3b28f3ed3d02b87a",
            "b88315dabf11d321",
            "8c7c5fd3f15db0ef",
            "cf249a30ab12da8c"
        ],
        "x": 34,
        "y": 859,
        "w": 792,
        "h": 242,
        "info": "In addition to handling commands sent by clients, implements\ninitialization logic triggered by the controller emitting\n`ALL_NODES_READY`:\n\n```mermaid\n---\ntitle: Initialize Z-Wave Network Model On Receipt of ALL_NODES_READY\n---\nsequenceDiagram\n\n    participant controller as Z-Wave Controller\n    participant flow as Flow\n    participant client as Client(s)\n\n    controller ->> flow: ALL_NODES_READY\n    flow ->> controller: getNodes\n    controller ->>+ flow: NODE_LIST\n\n    loop for each z-wave node id\n\n        flow ->> flow: add device to cached network model\n        flow ->>- controller: getValueIds\n        controller ->> flow: VALUE_ID_LIST\n\n        loop for each value id\n\n          opt property == currentValue\n              flow ->> controller: getValue\n              controller ->>+ flow: GET_VALUE_RESPONSE\n              flow ->> flow: update cached network model for device\n              flow ->>- client: send cached model\n          end\n        end\n    end\n```\n"
    },
    {
        "id": "9f5cd0f49019ccbd",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "websocket based message broker with semantics inspired by mqtt",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "850bcdb0dc51cae8",
            "0a466ae6484ea08d",
            "ad2823c8d3790d72",
            "5553c22baaeb1b99",
            "9a458b33c80238e5",
            "e3245994f6289398",
            "3eec2edbf0f4a824"
        ],
        "x": 34,
        "y": 79,
        "w": 792,
        "h": 162
    },
    {
        "id": "e97e1f069abed9d0",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "forward commands from websocket clients to the z-wave controller",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3431af9fadf254c0",
            "da5269e74a9b54dd",
            "e561194217443d28",
            "8ba1b10ce727a1f3"
        ],
        "x": 34,
        "y": 259,
        "w": 892,
        "h": 82
    },
    {
        "id": "40214102557f4c72",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "handle ALL_NODES_READY event from the z-wave controller by fetching data for all nodes",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "color": "#000000"
        },
        "nodes": [
            "774a45fd82b39e49",
            "6235c2a237d187b4",
            "5258b20647259df8"
        ],
        "x": 34,
        "y": 359,
        "w": 577,
        "h": 82
    },
    {
        "id": "94572c166b5f0613",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "handle NODE_LIST event from the z-wave controller by fetching all value id's for each node",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f25df70eb9464d09",
            "10129746c3677820",
            "052dca420f30f468",
            "fe82b1b65fd7042a",
            "76049d71e0f18037",
            "860f1bc78e06336e"
        ],
        "x": 34,
        "y": 459,
        "w": 952,
        "h": 82
    },
    {
        "id": "03ed41ef819b3f99",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "handle VALUE_ID_LIST event from the z-wave controller by fetching currentValue for each value id with such a property",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1a0cab3de23ecf0c",
            "4bc3610ddc285e04",
            "063ba55d44ccd84a",
            "84f806ac6efa3037",
            "a57bc6b06e714885",
            "d9b4e9ecf74b13d6"
        ],
        "x": 34,
        "y": 559,
        "w": 932,
        "h": 82
    },
    {
        "id": "136bdd2bcb510ec7",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "handle GET_VALUE_RESPONSE event from the z-wave controller by updating the data model and sending it to all websocket clients",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "color": "#000000"
        },
        "nodes": [
            "06f3bbbc1d516cf1",
            "6fcf2b7a2b9cbf10",
            "f5304bc4374c63ec",
            "d19197aaef49587d"
        ],
        "x": 34,
        "y": 659,
        "w": 912,
        "h": 82
    },
    {
        "id": "894703fb3772f644",
        "type": "group",
        "z": "1f411be02ab63862",
        "name": "handle VALUE_UPDATED event from the z-wave controller by updating the data model and sending it to all websocket clients",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "03ee2356a0e55d3c",
            "13366aaaed6d6a0e",
            "cbce903350b96584",
            "6c7e25e13cc8dc0b",
            "9ee9d0011c3da8fe"
        ],
        "x": 34,
        "y": 759,
        "w": 1052,
        "h": 82
    },
    {
        "id": "d4736a641abe6778",
        "type": "websocket-listener",
        "z": "1f411be02ab63862",
        "path": "/ws/automation",
        "wholemsg": "true"
    },
    {
        "id": "29dd7a1892ce9251",
        "type": "websocket-client",
        "path": "ws://localhost:1880/ws/automation",
        "tls": "",
        "wholemsg": "true",
        "hb": "5",
        "subprotocol": ""
    },
    {
        "id": "8f73c98ea2fb6019",
        "type": "zwave-js",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "networkIdentifier": "1",
        "serialPort": "/dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_3a2938a76455ed11adc495131d62bc44-if00-port0",
        "name": "ZWave Controller",
        "encryptionKey": "",
        "encryptionKeyS2U": "",
        "encryptionKeyS2A": "",
        "encryptionKeyS2AC": "",
        "ackTimeout": "",
        "controllerTimeout": "",
        "sendResponseTimeout": "",
        "sendDataCallback": "",
        "serialAPIStarted": "",
        "logLevelPin": "none",
        "logLevel": "none",
        "logFile": "",
        "logNodeFilter": "",
        "sendUsageStatistics": false,
        "valueCacheDiskThrottle": "normal",
        "customConfigPath": "",
        "intvwUserCodes": false,
        "softResetUSB": false,
        "outputs": 1,
        "disableOptimisticValueUpdate": false,
        "FWlicenseKey": "NON-COMMERCIAL",
        "scalesTemp": "0x01",
        "scalesHumidity": "0x00",
        "x": 290,
        "y": 980,
        "wires": [
            [
                "807b59493c63c6b5"
            ]
        ]
    },
    {
        "id": "807b59493c63c6b5",
        "type": "switch",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "event",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALL_NODES_READY",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NODE_LIST",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VALUE_ID_LIST",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GET_VALUE_RESPONSE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VALUE_UPDATED",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "c629c0f061d79636"
            ],
            [
                "3b28f3ed3d02b87a"
            ],
            [
                "b88315dabf11d321"
            ],
            [
                "8c7c5fd3f15db0ef"
            ],
            [
                "cf249a30ab12da8c"
            ]
        ]
    },
    {
        "id": "c464961f4d24a38b",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "command",
        "links": [
            "6235c2a237d187b4",
            "76049d71e0f18037",
            "8ba1b10ce727a1f3",
            "a57bc6b06e714885"
        ],
        "x": 120,
        "y": 980,
        "wires": [
            [
                "8f73c98ea2fb6019"
            ]
        ],
        "l": true
    },
    {
        "id": "10129746c3677820",
        "type": "split",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "052dca420f30f468"
            ]
        ]
    },
    {
        "id": "f25df70eb9464d09",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "object",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.networkId",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.object",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "#:(file)::zwaveNetwork",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "10129746c3677820"
            ]
        ]
    },
    {
        "id": "fe82b1b65fd7042a",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "getDefinedValueIDs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"mode\": \"ValueAPI\",\t   \"node\": payload.nodeId,\t   \"method\": \"getDefinedValueIDs\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "76049d71e0f18037"
            ]
        ]
    },
    {
        "id": "76049d71e0f18037",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "get value id's",
        "mode": "link",
        "links": [
            "c464961f4d24a38b"
        ],
        "x": 890,
        "y": 500,
        "wires": [],
        "l": true
    },
    {
        "id": "1a0cab3de23ecf0c",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "node:object",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.node",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.object",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "4bc3610ddc285e04"
            ]
        ]
    },
    {
        "id": "4bc3610ddc285e04",
        "type": "split",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "063ba55d44ccd84a"
            ]
        ]
    },
    {
        "id": "063ba55d44ccd84a",
        "type": "switch",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "currentValue",
        "property": "payload.property",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "currentValue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "84f806ac6efa3037"
            ]
        ]
    },
    {
        "id": "84f806ac6efa3037",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "getValue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"mode\":\"ValueAPI\",\t   \"node\": topic,\t   \"method\":\"getValue\",\t   \"params\": [\t       {\t           \"commandClassName\": payload.commandClassName,\t           \"commandClass\": payload.commandClass,\t           \"endpoint\": payload.endpoint,\t           \"property\": payload.property,\t           \"propertyName\": payload.propertyName\t        }\t   ]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "a57bc6b06e714885"
            ]
        ]
    },
    {
        "id": "a57bc6b06e714885",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "get value",
        "mode": "link",
        "links": [
            "c464961f4d24a38b"
        ],
        "x": 880,
        "y": 600,
        "wires": [],
        "l": true
    },
    {
        "id": "774a45fd82b39e49",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "40214102557f4c72",
        "name": "getNodes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"mode\":\"ControllerAPI\",\"method\":\"getNodes\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "6235c2a237d187b4"
            ]
        ]
    },
    {
        "id": "6235c2a237d187b4",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "40214102557f4c72",
        "name": "get nodes",
        "mode": "link",
        "links": [
            "c464961f4d24a38b"
        ],
        "x": 480,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "da5269e74a9b54dd",
        "type": "switch",
        "z": "1f411be02ab63862",
        "g": "e97e1f069abed9d0",
        "name": "^set/zwave/\\d+/\\d+/\\d+/\\d+$",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^set/zwave/\\d+/\\d+/\\d+/\\d+$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "e561194217443d28"
            ]
        ]
    },
    {
        "id": "e561194217443d28",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "e97e1f069abed9d0",
        "name": "set value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   $topic := topic.$split('/');\t   {\t       \"node\": $number($topic[3]),\t       \"mode\":\"ValueAPI\",\t       \"method\": \"setValue\",\t       \"params\": [\t           {\t               \"commandClass\": $number($topic[5]),\t               \"endpoint\": $number($topic[4]),\t               \"property\": \"targetValue\"\t           },\t           payload,\t           {}\t        ]\t   }\t)",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "8ba1b10ce727a1f3"
            ]
        ]
    },
    {
        "id": "8ba1b10ce727a1f3",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "e97e1f069abed9d0",
        "name": "set value",
        "mode": "link",
        "links": [
            "c464961f4d24a38b"
        ],
        "x": 840,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "3431af9fadf254c0",
        "type": "websocket in",
        "z": "1f411be02ab63862",
        "g": "e97e1f069abed9d0",
        "name": "",
        "server": "",
        "client": "29dd7a1892ce9251",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "da5269e74a9b54dd"
            ]
        ]
    },
    {
        "id": "052dca420f30f468",
        "type": "function",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "cache device",
        "func": "const message = RED.util.cloneMessage(msg)\nconst networkId = Number.parseInt(message.topic)\nconst networks = flow.get('zwaveNetworks') || {}\nconst devices = networks[networkId] || {}\n\ndevices[message.payload.nodeId] = message.payload\nnetworks[networkId] = devices\nflow.set('zwaveNetworks', networks)\nreturn message",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 500,
        "wires": [
            [
                "fe82b1b65fd7042a"
            ]
        ]
    },
    {
        "id": "13366aaaed6d6a0e",
        "type": "switch",
        "z": "1f411be02ab63862",
        "g": "894703fb3772f644",
        "name": "currentValue",
        "property": "payload.object.property",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "currentValue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "cbce903350b96584"
            ]
        ]
    },
    {
        "id": "cbce903350b96584",
        "type": "function",
        "z": "1f411be02ab63862",
        "g": "894703fb3772f644",
        "name": "currentValue updated",
        "func": "const networks = flow.get('zwaveNetworks') || {}\nconst devices = networks[msg.payload.networkId] || {}\nconst device = devices[msg.payload.node] || {}\nconst endpoints = device.endpoints || {}\nconst values = endpoints.values || {}\n\nvalues[msg.payload.object.commandClass] = msg.payload.object.newValue\nendpoints[msg.payload.object.endpoint] = values\ndevice.endpoints = endpoints\ndevices[msg.payload.node] = device\nnetworks[msg.payload.networkId] = devices\nflow.set('zwaveNetworks', networks)\nreturn {\n    topic: 'zwave/networks',\n    payload: networks,\n    retain: true\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 800,
        "wires": [
            [
                "6c7e25e13cc8dc0b"
            ]
        ]
    },
    {
        "id": "6c7e25e13cc8dc0b",
        "type": "rbe",
        "z": "1f411be02ab63862",
        "g": "894703fb3772f644",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 800,
        "wires": [
            [
                "9ee9d0011c3da8fe"
            ]
        ]
    },
    {
        "id": "9ee9d0011c3da8fe",
        "type": "websocket out",
        "z": "1f411be02ab63862",
        "g": "894703fb3772f644",
        "name": "",
        "server": "",
        "client": "29dd7a1892ce9251",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "06f3bbbc1d516cf1",
        "type": "function",
        "z": "1f411be02ab63862",
        "g": "136bdd2bcb510ec7",
        "name": "get value response",
        "func": "const value = msg.payload.object.currentValue\n\nif (value !== undefined) {\n\n    const networks = flow.get('zwaveNetworks') || {}\n    const devices = networks[msg.payload.networkId] || {}\n    const device = devices[msg.payload.node] || {}\n    const endpoints = device.endpoints || {}\n    const values = endpoints.values || {}\n    const message = RED.util.cloneMessage(msg)\n\n    values[msg.payload.object.commandClass] = value\n    endpoints[msg.payload.object.endpoint] = values\n    device.endpoints = endpoints\n    devices[msg.payload.node] = device\n    networks[msg.payload.networkId] = devices\n    flow.set(\"zwaveNetworks\", networks)\n    message.topic = 'zwave/networks'\n    message.payload = networks\n    message.retain = true\n    return message\n\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 700,
        "wires": [
            [
                "6fcf2b7a2b9cbf10"
            ]
        ]
    },
    {
        "id": "6fcf2b7a2b9cbf10",
        "type": "rbe",
        "z": "1f411be02ab63862",
        "g": "136bdd2bcb510ec7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "f5304bc4374c63ec"
            ]
        ]
    },
    {
        "id": "f5304bc4374c63ec",
        "type": "websocket out",
        "z": "1f411be02ab63862",
        "g": "136bdd2bcb510ec7",
        "name": "",
        "server": "",
        "client": "29dd7a1892ce9251",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "850bcdb0dc51cae8",
        "type": "websocket out",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "",
        "server": "d4736a641abe6778",
        "client": "",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "0a466ae6484ea08d",
        "type": "function",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "retain",
        "func": "const retained = flow.get('retained') || {}\n\ntry {\n\n    if (msg.retain === true) {\n\n        if (msg.topic === undefined) {\n\n            node.error(\"topic required when retain is true\", msg);\n            return msg\n\n        }\n\n        if ((msg.payload !== undefined) && (msg.payload !== '')) {\n\n            retained[msg.topic] = RED.util.cloneMessage(msg)\n\n        } else {\n\n            delete retained[msg.topic]\n\n        }\n\n        flow.set('retained', retained)\n        const message = RED.util.cloneMessage(msg)\n        delete message._session\n        message.retain = false\n        return message\n\n    }\n\n    return msg\n\n} finally {\n\n    node.status({\n        fill: 'blue',\n        shape: 'dot',\n        text: Object.keys(retained).length\n    })\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "850bcdb0dc51cae8"
            ]
        ]
    },
    {
        "id": "ad2823c8d3790d72",
        "type": "status",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "client connection",
        "scope": [
            "e3245994f6289398"
        ],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "5553c22baaeb1b99"
            ]
        ]
    },
    {
        "id": "5553c22baaeb1b99",
        "type": "switch",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "",
        "property": "status.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "9a458b33c80238e5"
            ]
        ]
    },
    {
        "id": "9a458b33c80238e5",
        "type": "function",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "retained",
        "func": "const retained = flow.get('retained') || {}\nconst messages = Object.values(retained)\n\ntry {\n\n    return [messages]\n\n} finally {\n\n    node.status({\n        fill: 'blue',\n        shape: 'dot',\n        text: messages.length\n    })\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "850bcdb0dc51cae8"
            ]
        ]
    },
    {
        "id": "e3245994f6289398",
        "type": "websocket in",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "",
        "server": "d4736a641abe6778",
        "client": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "3eec2edbf0f4a824"
            ]
        ]
    },
    {
        "id": "3eec2edbf0f4a824",
        "type": "change",
        "z": "1f411be02ab63862",
        "g": "9f5cd0f49019ccbd",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "0a466ae6484ea08d"
            ]
        ]
    },
    {
        "id": "c629c0f061d79636",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "ALL_NODES_READY",
        "mode": "link",
        "links": [
            "5258b20647259df8"
        ],
        "x": 660,
        "y": 900,
        "wires": [],
        "l": true
    },
    {
        "id": "5258b20647259df8",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "40214102557f4c72",
        "name": "ALL_NODES_READY",
        "links": [
            "c629c0f061d79636"
        ],
        "x": 160,
        "y": 400,
        "wires": [
            [
                "774a45fd82b39e49"
            ]
        ],
        "l": true
    },
    {
        "id": "3b28f3ed3d02b87a",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "NODE_LIST",
        "mode": "link",
        "links": [
            "860f1bc78e06336e"
        ],
        "x": 630,
        "y": 940,
        "wires": [],
        "l": true
    },
    {
        "id": "860f1bc78e06336e",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "94572c166b5f0613",
        "name": "NODE_LIST",
        "links": [
            "3b28f3ed3d02b87a"
        ],
        "x": 130,
        "y": 500,
        "wires": [
            [
                "f25df70eb9464d09"
            ]
        ],
        "l": true
    },
    {
        "id": "b88315dabf11d321",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "VALUE_ID_LIST",
        "mode": "link",
        "links": [
            "d9b4e9ecf74b13d6"
        ],
        "x": 650,
        "y": 980,
        "wires": [],
        "l": true
    },
    {
        "id": "d9b4e9ecf74b13d6",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "03ed41ef819b3f99",
        "name": "VALUE_ID_LIST",
        "links": [
            "b88315dabf11d321"
        ],
        "x": 140,
        "y": 600,
        "wires": [
            [
                "1a0cab3de23ecf0c"
            ]
        ],
        "l": true
    },
    {
        "id": "8c7c5fd3f15db0ef",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "GET_VALUE_RESPONSE",
        "mode": "link",
        "links": [
            "d19197aaef49587d"
        ],
        "x": 680,
        "y": 1020,
        "wires": [],
        "l": true
    },
    {
        "id": "d19197aaef49587d",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "136bdd2bcb510ec7",
        "name": "GET_VALUE_RESPONSE",
        "links": [
            "8c7c5fd3f15db0ef"
        ],
        "x": 170,
        "y": 700,
        "wires": [
            [
                "06f3bbbc1d516cf1"
            ]
        ],
        "l": true
    },
    {
        "id": "cf249a30ab12da8c",
        "type": "link out",
        "z": "1f411be02ab63862",
        "g": "800b06c9c0e3dff7",
        "name": "VALUE_UPDATED",
        "mode": "link",
        "links": [
            "03ee2356a0e55d3c"
        ],
        "x": 650,
        "y": 1060,
        "wires": [],
        "l": true
    },
    {
        "id": "03ee2356a0e55d3c",
        "type": "link in",
        "z": "1f411be02ab63862",
        "g": "894703fb3772f644",
        "name": "VALUE_UPDATED",
        "links": [
            "cf249a30ab12da8c"
        ],
        "x": 150,
        "y": 800,
        "wires": [
            [
                "13366aaaed6d6a0e"
            ]
        ],
        "l": true
    },
    {
        "id": "1f85fc1d3e701689",
        "type": "comment",
        "z": "1f411be02ab63862",
        "name": "only value id's with currentValue properties are supported by the data model at this time",
        "info": "",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "d2e71a90fbbe2049",
        "type": "comment",
        "z": "1f411be02ab63862",
        "name": "see README.md",
        "info": "* Assumes that _node-red-contrib-zwave-js_ has been installed\n* Assumes a file-system backed context store exists named `file`\n* Assumes that the dashboard has been built\n* Assumes that the value for `httpStatic` in _settings.js_ has been\n  updated correctly",
        "x": 120,
        "y": 40,
        "wires": []
    }
]