flows.json
[
    {
        "id": "1f411be02ab63862",
        "type": "tab",
        "label": "Z-Wave Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4736a641abe6778",
        "type": "websocket-listener",
        "z": "1f411be02ab63862",
        "path": "/ws/automation",
        "wholemsg": "true"
    },
    {
        "id": "34cd01f53a8b4243",
        "type": "zwave-device",
        "z": "1f411be02ab63862",
        "networkIdentifier": 1,
        "name": "",
        "filteredNodeId": "2",
        "multicast": false,
        "datamode": "Send/Receive",
        "messagesPerMS": 1,
        "messageInterval": 250,
        "isolated": false,
        "outputs": 1,
        "inputs": 1,
        "showStatus": true,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "5270855b99907c43",
                "e3f6925ac223dfd3"
            ]
        ]
    },
    {
        "id": "084e7ba6c3bb9740",
        "type": "cmd-factory",
        "z": "1f411be02ab63862",
        "name": "Set Binary Switch",
        "node": "undefined",
        "endpoint": "0",
        "cc": "Binary Switch",
        "method": "set",
        "params": "[payload]",
        "noEvent": false,
        "forceUpdate": "undefined",
        "api": "CCAPI",
        "vapiMode": "setValue",
        "vapiValue": "payload",
        "vapiValueId": "valueId",
        "vapiOptions": "options",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "34cd01f53a8b4243"
            ]
        ]
    },
    {
        "id": "5f879b1ccfa0655a",
        "type": "event-filter",
        "z": "1f411be02ab63862",
        "name": "",
        "filters": [
            {
                "index": 0,
                "name": "Value",
                "valueIds": [
                    {
                        "commandClassName": "Binary Switch",
                        "commandClass": 37,
                        "endpoint": 0,
                        "property": "currentValue",
                        "propertyName": "currentValue"
                    }
                ],
                "events": [
                    "VALUE_UPDATED"
                ],
                "strict": false,
                "id": "276296"
            }
        ],
        "outputs": 1,
        "changeDate": "2023-12-12T11:17:12.771Z",
        "showStatus": true,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "cc80f62f3f9aa4dc",
                "59902f6fe6fbd787"
            ]
        ]
    },
    {
        "id": "cc80f62f3f9aa4dc",
        "type": "change",
        "z": "1f411be02ab63862",
        "name": "zwave/2/37:value",
        "rules": [
            {
                "t": "move",
                "p": "payload.object.newValue",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "zwave/2/37",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "2bfe7eb06c76ac62"
            ]
        ]
    },
    {
        "id": "bceca9b69310235e",
        "type": "cmd-factory",
        "z": "1f411be02ab63862",
        "name": "Get Binary Switch",
        "node": "undefined",
        "endpoint": "0",
        "cc": "Binary Switch",
        "method": "get",
        "params": "[]",
        "noEvent": false,
        "forceUpdate": "undefined",
        "api": "CCAPI",
        "vapiMode": "setValue",
        "vapiValue": "payload",
        "vapiValueId": "valueId",
        "vapiOptions": "options",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "34cd01f53a8b4243",
                "a82464017cc88f98"
            ]
        ]
    },
    {
        "id": "8f73c98ea2fb6019",
        "type": "zwave-js",
        "z": "1f411be02ab63862",
        "networkIdentifier": "1",
        "serialPort": "/dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_3a2938a76455ed11adc495131d62bc44-if00-port0",
        "name": "",
        "encryptionKey": "",
        "encryptionKeyS2U": "",
        "encryptionKeyS2A": "",
        "encryptionKeyS2AC": "",
        "ackTimeout": "",
        "controllerTimeout": "",
        "sendResponseTimeout": "",
        "sendDataCallback": "",
        "serialAPIStarted": "",
        "logLevelPin": "none",
        "logLevel": "none",
        "logFile": "",
        "logNodeFilter": "",
        "sendUsageStatistics": false,
        "valueCacheDiskThrottle": "normal",
        "customConfigPath": "",
        "intvwUserCodes": false,
        "softResetUSB": false,
        "outputs": 1,
        "disableOptimisticValueUpdate": false,
        "FWlicenseKey": "NON-COMMERCIAL",
        "scalesTemp": "0x00",
        "scalesHumidity": "0x00",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "807b59493c63c6b5"
            ]
        ]
    },
    {
        "id": "cf271dd5b18b85a8",
        "type": "websocket in",
        "z": "1f411be02ab63862",
        "name": "",
        "server": "d4736a641abe6778",
        "client": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "c8dda5f98c2eb041"
            ]
        ]
    },
    {
        "id": "c8dda5f98c2eb041",
        "type": "switch",
        "z": "1f411be02ab63862",
        "name": "topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "set/zwave/2/37",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "65aa38d226ebbcf8"
            ]
        ]
    },
    {
        "id": "2bfe7eb06c76ac62",
        "type": "websocket out",
        "z": "1f411be02ab63862",
        "name": "",
        "server": "d4736a641abe6778",
        "client": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "a9bc0ac8890bd92e",
        "type": "status",
        "z": "1f411be02ab63862",
        "name": "client connection status",
        "scope": [
            "cf271dd5b18b85a8"
        ],
        "x": 120,
        "y": 140,
        "wires": [
            [
                "f01aee45cb4c3ca9"
            ]
        ]
    },
    {
        "id": "298878ea0fc43d7a",
        "type": "switch",
        "z": "1f411be02ab63862",
        "name": "connect",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connect",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "feb9f0d06f6d792f"
            ]
        ]
    },
    {
        "id": "807b59493c63c6b5",
        "type": "switch",
        "z": "1f411be02ab63862",
        "name": "ALL_NODES_READY",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALL_NODES_READY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "f91c0160e3781ff7"
            ]
        ]
    },
    {
        "id": "feb9f0d06f6d792f",
        "type": "join",
        "z": "1f411be02ab63862",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "bceca9b69310235e"
            ]
        ],
        "info": "Wait until all Z-Wave nodes are ready\nand at least one client connects."
    },
    {
        "id": "f01aee45cb4c3ca9",
        "type": "change",
        "z": "1f411be02ab63862",
        "name": "connect",
        "rules": [
            {
                "t": "move",
                "p": "status",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "298878ea0fc43d7a"
            ]
        ]
    },
    {
        "id": "a82464017cc88f98",
        "type": "debug",
        "z": "1f411be02ab63862",
        "name": "get binary switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 990,
        "y": 40,
        "wires": []
    },
    {
        "id": "f91c0160e3781ff7",
        "type": "change",
        "z": "1f411be02ab63862",
        "name": "ready",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ready",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "feb9f0d06f6d792f"
            ]
        ]
    },
    {
        "id": "5270855b99907c43",
        "type": "debug",
        "z": "1f411be02ab63862",
        "name": "device node event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "59902f6fe6fbd787",
        "type": "debug",
        "z": "1f411be02ab63862",
        "name": "node 2 value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "e3f6925ac223dfd3",
        "type": "link out",
        "z": "1f411be02ab63862",
        "name": "device node event",
        "mode": "link",
        "links": [
            "25ea4a179b7dec64"
        ],
        "x": 1210,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "25ea4a179b7dec64",
        "type": "link in",
        "z": "1f411be02ab63862",
        "name": "device node event",
        "links": [
            "e3f6925ac223dfd3"
        ],
        "x": 150,
        "y": 380,
        "wires": [
            [
                "5f879b1ccfa0655a"
            ]
        ],
        "l": true
    },
    {
        "id": "65aa38d226ebbcf8",
        "type": "change",
        "z": "1f411be02ab63862",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "084e7ba6c3bb9740"
            ]
        ]
    }
]